<section>
    <div id="sliderContainer">
        {{#each products}}
        <div class="slider">
            {{description}}
            <img data-index="{{id}}" class="slide" alt="{{sku}}" src="{{imageURL}}" />
        </div>
        <button class='submit-button'>Submit</button>
        {{/each}}
    </div>
</section>