<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <header class="header_container">
        <img src="/static/images/logo.png" alt="Brand logo">
        <div class='wrapper'>
            <nav>
                <a href="/home">Home</a>
                <a href="/products">Products</a>
            </nav>
        </div>
    </header>
    <hr />
    {{{body}}}
</body>

</html>